* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    /* flex: 1; */ /* Only changes proportionally to other flexbox items */
}

#sidebar-content {
    background-color: #d9f4e3;
    /* flex: 1; /* usually don't use flex and width together in flexbox */
    width: 250;
    order: 1;
    padding: 24px;
    border-right: 2px solid #72A586;

}

#sidebar-content h2 {
    border-bottom: 2px solid #72A586;
    padding: 8px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    text-decoration: none;
    color: #111111;
}

#main-content {
    flex: 2;
    order: 2;
    padding: 15px;
}