* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.cotton-candy {
    background-color: pink;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
}