* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* NAVBAR */

#navbar {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    z-index: 9999;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #links {
    margin-right: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 100px;
}

#navbar .cta-button {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 10px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    transition: background-color 0.25s;
}

#navbar .cta-button:hover {
    background-color: #FFDF00;
}

/* FOOTER */

#footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer #footer-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo logo links";
    margin: 70px 50px 30px 50px;
    gap: 24px;
}

#footer .logo{
    grid-area: logo;
    width: 200px;
}

#footer .footer-column {
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

#footer .footer-column a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

#footer .footer-column a:hover {
    color: #FFDF00;
}

#footer #copyright {
    text-align: center;
    color: white;
    padding: 24px 0px;
}

/* HERO */

#hero-main {
    background-image: url("../images/hero1.png");
    background-size: cover;
    background-position: left center;
    height: 80vh;
    background-color: pink;
    position: relative;
}

#hero-main #hero-main-content {
    position: absolute;
    top: 15%;
    left: 3%;
}

#hero-main #hero-main-content a {
    text-decoration: none;
}

#hero-main h3{
    font-size: 90px;
    color: black;
    margin-bottom: 0px;
}

#hero-main h4{
    font-size: 55px;
    color: black;
    margin-top: 0px;
}

#hero-main a {
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    font-size: 17px;
    color: white;
    padding: 20px 24px;
    border-radius: 50px;
    transition:
        background-color 0.25s,
        font-size 0.25s,
        color 0.25s,
        padding 0.25s;
}

#hero-main a:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 25px 29px;
    font-size: 20px;
}

#hero-menu {
    background-image: url("../images/bierock.png");
    background-size: cover;
    background-position: left center;
    border-radius: 45px 0px 45px 0px;
    height: 50vh;
    background-color: pink;
    position: relative;
}

#hero-menu #hero-menu-content {
    position: absolute;
    text-align: right;
    top: 2%;
    right: 5%;
}

#hero-menu #hero-menu-content h3 {
    font-size: 80px;
    margin-top: 12px;
    margin-bottom: 0px;
}

#hero-menu #hero-menu-content h4 {
    font-size: 55px;
    margin: 0px;
}

#hero-menu #hero-menu-content p {
    font-size: 17px;
    margin-top: 0px;
}

/* PAGE LAYOUT */

.single-column-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    width: 1200px;
    margin: 48px auto;
}

.single-column-layout h2 {
    font-size: 45px;
}

/* MEDIA & TEXT MAIN PAGE */

/* Media and Text 1 - image > content */

.media-and-text1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
    margin: 24px;
    gap: 24px;
}

.media-content {
    display: flex;
    grid-area: content;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 24px;
}

.special-text {
    color: black;
    transition: 
        color 0.5s,
        background-image 0.5s;
}

.special-text:hover {
    background-image: linear-gradient(to right, #6462AC, #AC81B9);
    color: transparent;
    background-clip: text;
}

.media-and-text1 img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px 0px 45px 0px;
}

.media-and-text1 h3 {
    font-size: 50px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.media-and-text1 h4 {
    font-size: 30px;
    margin-top: 12px;
}

.media-and-text1 p {
    font-size: 20px;
    margin-top: 12px;
}

.media-and-text1 a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 3px solid black;
    padding: 15px 17px;
    border-radius: 50px;
    text-align: center;
    transition:
        background-color 0.25s,
        color 0.25s;
}

.media-and-text1 a:hover {
    background-color: white;
    color: black;
}

/* Media and Text 2 - content > image */

.media-and-text2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
    margin: 24px;
    gap: 24px;
}

.media-and-text2 img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px 0px 45px 0px;
}

.media-and-text2 h3 {
    font-size: 50px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.media-and-text2 h4 {
    font-size: 30px;
    margin-top: 12px;
}

.media-and-text2 p {
    font-size: 20px;
    margin-top: 12px;
}

.media-and-text2 a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 3px solid black;
    padding: 15px 17px;
    border-radius: 50px;
    text-align: center;
    transition:
        background-color 0.25s,
        color 0.25s;
}

.media-and-text2 a:hover {
    background-color: white;
    color: black;
}

/* THREE CARD LAYOUT */

#three-card-container {
    display: flex;
    justify-content: space-between;
    margin: 24px;
    gap: 24px;
}


/* THREE BY THREE GRID */

.three-by-three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 24px;
}

/* CARDS */

.card {
    flex: 1;
    text-align: center;
    border: 3px solid black;
    border-radius: 24px;
    transition:
        background-color 0.5s,
        color 0.5s,
        flex 0.5s;
}

.card h5 {
    margin: 24px;
    font-size: 24px;
}

.card h6 {
    font-size: 17px;
    margin: 0px;
}

.card p {
    margin: 24px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card:hover {
    flex: 1.1;
    background-color: black;
    color: white;
}

/* ABOUT PAGE */

#quote-img {
    width: 100vw;
}

@media screen and (min-width: 1143px) {

}


@media screen and (max-width: 636px) and (min-width: 485px) { 

    .single-column-layout {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 90%;
        margin: 48px auto;
    }

    #hero-menu #hero-menu-content {
        position: absolute;
        text-align: right;
        top: 2%;
        right: 5%;
    }

    #hero-menu #hero-menu-content h3 {
        font-size: 60px;
    }
    
    #hero-menu #hero-menu-content h4 {
        font-size: 35px;
        margin: 0px;
    }
    
    #hero-menu #hero-menu-content p {
        font-size: 13px;
        font-weight: bold;
        margin-top: 0px;
    }

    .three-by-three-grid {
        grid-template-columns: 1fr 1fr;
    }

    .media-and-text1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image" 
            "content";
        margin: 24px;
        gap: 24px;
    }

    .media-and-text2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:  
            "image"
            "content";
        margin: 24px;
        gap: 24px;
    }

    #three-card-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 485px) {

    .single-column-layout {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 90%;
        margin: 48px auto;
    }

    #hero-menu #hero-menu-content {
        position: absolute;
        text-align: right;
        top: 2%;
        right: 5%;
    }

    #hero-menu #hero-menu-content h3 {
        font-size: 60px;
    }
    
    #hero-menu #hero-menu-content h4 {
        font-size: 35px;
        margin: 0px;
    }
    
    #hero-menu #hero-menu-content p {
        font-size: 13px;
        font-weight: bold;
        margin-top: 0px;
    }

    .three-by-three-grid {
        grid-template-columns: 1fr;
    }

    .media-and-text1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image" 
            "content";
        margin: 24px;
        gap: 24px;
    }

    .media-and-text2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:  
            "image"
            "content";
        margin: 24px;
        gap: 24px;
    }

    #three-card-container {
        flex-direction: column;
    }

}